p
  font-size 1rem
  line-height: 24px
  margin 0
  
  & + &
    margin-top 1rem
  
.title
  font-family 'Playfair Display', serif
  font-size responsive 24px 34px
  letter-spacing 2px
  line-height 38px
  font-weight 400
  margin 0
  text-transform uppercase
  color $brand-blue
  
  & + p
    margin-top 1.5rem
  
  &--main
    font-size 38px
    font-weight 400
    font-style italic
    
  &--small
    font-family 'Heebo', sans-serif
    font-weight 500
    font-size 20px
    line-height 25px
