.btn
  padding 1rem 2.5rem
  background-color transparent
  transition all 350ms ease-in-out
  
  &--submit
    border 2px solid $brand-darkBlue
    color $white
    
    &:hover
      background-color $brand-darkBlue