.footer
  wrapped()
  padding-top 2.5rem
  padding-bottom 2.5rem
  display flex
  align-items center
  justify-content space-between
  background-color $brand-darkBlue
  font-size 18px
  
  +below($mobile)
    flex-direction column
    text-align center
  
  a
    text-decoration none
    
  a
  p
    color $white
    font-size 18px