.main
  background linear-gradient(162deg, rgba(#002A4D, .5) 0%, rgba(#F36F21, .3) 98%), url('/img/main-bg.jpg') no-repeat center
  background-size cover
  display flex
  align-items center
  justify-content center
  height 100vh
    
  .title
    text-align center
    line-height 50px
    text-transform none
    color $white
    
  .title--main span
    font-weight 700
    font-style normal
    display block
    text-transform uppercase