.media
  display flex
  align-items center
  justify-content space-between
  
  +above($mobile)
    &--imageLeft
      .media-content
        order 2
      
  +below($mobile)
    flex-wrap wrap

.media-content
  lost-column 6/12
  
  +below($tablet)
    margin-bottom 4rem

.media-image
  position relative
  lost-column 5/12
  
  &:after
    content ''
    position absolute
    top -1rem
    right -1rem
    width 100%
    height 100%
    background-color #E1EEF9
    z-index -10
    
.media-content  
.media-image
  +below($mobile)
    lost-column 1 0 0